.comp,
.wrapper {
    position: relative;
}

.box {
    background-color: $c-p-dark;
    outline: $bd-dash;
    outline-offset: -5px;
    padding: $el-size;
}

.box2 {
    background-color: $c-p-dark;
    border-radius: $el-rad;
    padding: $el-pad;
    border: $bd-def;
}

.f-l {
    font-size: $f-l;
}

.f-m {
    font-size: $f-m;
}

.f-s {
    font-size: $f-s;
}

@mixin fl-row {
    display: flex;

    flex: {
        direction: row;
        wrap: wrap;
    }

}

.fl-row {
    @include fl-row;

    align: {
        items: center;
        content: space-around;
    }

    justify-content: space-around;
}

.fl-row-j {
    @include fl-row;

    justify-content: space-evenly;
}

.fl-row-nj {
    @include fl-row;
}

.fl-e2e {
    @include fl-row;

    align: {
        items: center;
        content: space-between;
    }

    justify-content: space-between;
}

.list {
    gap: $el-rad;
}

@mixin fl-col {
    display: flex;
    flex-direction: column;
}

.fl-col {
    @include fl-col;
    align-items: center;
    justify-content: space-evenly;
}

.fl-col-c {
    @include fl-col;
    justify-content: center;
    align-items: center;
}

.fl-col-l {
    @include fl-col;
    align-items: baseline;
    justify-content: center;
}

.fl-col-s {
    @include fl-col;
    align-items: stretch;
    justify-content: center;
}

//icons
.w-6.h-6 {
    width: $el-dbl;
    height: $el-dbl;
}