$c-def: $c-p-light;
$c-hov: $c-p-mid;

.btn {
    background-color: $c-def;
    border: $bd-def;
    padding: $el-pad;
    border-radius: $thin;
    cursor: pointer;
    color: $c-dark;
    font-weight: 600;
    font-size: $f-m;

    &:hover {
        background-color: $c-hov;
    }

    &:disabled {
        opacity: $op-h;
        cursor: default;

        &:hover {
            background-color: $c-def;
        }
    }
}

.hov {
    cursor: pointer;
    color: $c-p-light;

    &:hover {
        color: $c-p-mid !important;
    }
}

.lnk {
    border-bottom: $bd-def;
    cursor: pointer;
    border-color: $c-def;
    color: $c-def;
    font-weight: 600;
    font-size: $f-m;

    &:hover {
        color: $c-hov;
        border-color: $c-hov;
    }
}

.comp {
    position: relative;
}

.box {
    background-color: $c-p-dark;
    outline: $bd-dash;
    outline-offset: -5px;
    padding: $el-size;
}

.box2 {
    background-color: $c-p-dark;
    border-radius: $el-rad;
    padding: $el-pad;
    border: $bd-def;
}

.f-l {
    font-size: $f-l;
}

.f-m {
    font-size: $f-m;
}

.f-s {
    font-size: $f-s;
}

.fl-row {
    display: flex;

    flex: {
        direction: row;
        wrap: wrap;
    }

    align: {
        items: center;
        content: space-around;
    }

    justify-content: space-around;
}

.fl-row-j {
    display: flex;

    flex: {
        direction: row;
        wrap: wrap;
    }

    justify-content: space-evenly;
}

.fl-row-nj {
    display: flex;

    flex: {
        direction: row;
        wrap: wrap;
    }
}

.fl-e2e {
    display: flex;

    flex: {
        direction: row;
        wrap: wrap;
    }

    align: {
        items: center;
        content: space-between;
    }

    justify-content: space-between;
}

.fl-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.fl-col-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fl-col-l {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

//icons
.w-6.h-6 {
    width: $el-dbl;
    height: $el-dbl;
}