$c-def: $c-p-light;
$c-hov: $c-p-mid;

.btn {
    background-color: $c-def;
    border: $bd-def;
    padding: $el-pad;
    border-radius: $thin;
    cursor: pointer;
    color: $c-dark;
    font-weight: 600;
    font-size: $f-m;
    transition: $tr-op-def, $tr-c-def;

    &:hover {
        background-color: $c-hov;
    }

    &:disabled {
        opacity: $op-h;
        cursor: default;

        &:hover {
            background-color: $c-def;
        }
    }
}

.lnkdisabled {
    cursor: default !important;

    &:hover {
        color: $c-def !important;
    }
}

.hov {
    cursor: pointer;
    color: $c-def;
    transition: $tr-c-def;

    &:hover {
        color: $c-hov;
    }
}

.lnk {
    border-bottom: $bd-def;
    cursor: pointer;
    border-color: $c-def;
    color: $c-def;
    font-weight: 600;
    font-size: $f-m;
    transition: $tr-c-def;

    &:hover {
        color: $c-hov;
        border-color: $c-hov;
    }
}

.named-switch,
.named-btn {
    &>* {
        display: inline-block;
        vertical-align: middle;
    }

    &>span {
        font-size: $f-l;
        padding-left: $el-pad;
    }
}

.custom-input {
    & input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: $z-n;
    }

    & label {
        cursor: pointer;
    }

    & input:focus+label {
        background-color: $c-hov;
        outline: $bd-dot;
        outline: -webkit-focus-ring-color auto 5px;
    }
}

.input-group {
    width: 100%;

    &>* {
        width: 50%;
        display: inline-block;
    }
}

input[type=text],
input[type=number],
input[type=checkbox],
input[type=date],
input[type=color] {
    background-color: $c-def;
    border: $bd-def;
    padding: 0 $el-pad;
    border-radius: $thin;
    color: $c-dark;
    height: $el-dbl;
    margin: 0;
}

input[type=checkbox] {
    cursor: pointer;
}