$mobile-max: 480px;
$tablet-max: 768px;
$laptop-max: 1024px;
$desktop-max: 1200px;

@mixin tablet-up {
    @media (min-width: #{$mobile-max + 1px}) {
        @content;
    }
}

@mixin laptop-up {
    @media (min-width: #{$tablet-max + 1px}) {
        @content;
    }
}

@mixin desktop-up {
    @media (min-width: #{$laptop-max + 1px}) {
        @content;
    }
}

@mixin tablet-down {
    @media (max-width: #{$tablet-max}) {
        @content;
    }
}

@mixin laptop-down {
    @media (max-width: #{$laptop-max}) {
        @content;
    }
}

@mixin desktop-down {
    @media (max-width: #{$desktop-max}) {
        @content;
    }
}

@mixin mobile-only {
    @media (max-width: #{$mobile-max}) {
        @content;
    }
}

@mixin tablet-only {
    @media (min-width: #{$mobile-max + 1px}) and (max-width: #{$tablet-max}) {
        @content;
    }
}

@mixin laptop-only {
    @media (min-width: #{$tablet-max + 1px}) and (max-width: #{$laptop-max}) {
        @content;
    }
}

@mixin desktop-only {
    @media (min-width: #{$laptop-max + 1px}) and (max-width: #{$desktop-max}) {
        @content;
    }
}

@mixin large-only {
    @media (min-width: #{$desktop-max + 1px}) {
        @content;
    }
}