/* $c-p-dark: #157A6E;
$c-p-mid: #499F68;
$c-p-light: #77B28C;
$c-s-dark: #B4654A;
$c-s-light: #b49d4a;
$c-light: #C2C5BB;
$c-dark: #151613; */

$c-p-dark: #003103;
//$c-p-mid: #86BBD8;
$c-p-mid: #86d88b;
$c-p-light: #C4EFBE;
$c-p-lighter: #e1f8dd;
$c-s-dark: #FCAA67;
$c-s-light: #F8DF83;
$c-light: #EEFBEF;
$c-dark: #001f05;
$c-dark-a: rgba(0, 31, 5, 0.25);

$el-size: 1em;
$el-wrap: $el-size * 1.5;
$el-dbl: $el-size * 2;
$el-tpl: $el-size * 3;
$el-ten: $el-size * 10;
$el-rad: calc($el-size / 2);
$el-pad: calc($el-rad / 2);
$thin: 0.125em;

$f-xs: 12px;
$f-s: 14px;
$f-m: 16px;
$f-l: 20px;
$f-xl: 24px;

$bd-def: $thin solid $c-p-mid;
$bd-dot: $thin dotted $c-dark;
$bd-dash: $thin dashed $c-dark;

$sh-def: 0 $thin $el-pad 1px $c-dark-a;
$sh-hov: 0 $el-rad $el-rad $thin $c-dark-a;

$z-n: -1;
$z-l: 1;
$z-lm: 2;
$z-m: 3;
$z-mh: 4;
$z-h: 5;

$op-l: 0.3;
$op-m: 0.5;
$op-h: 0.8;

$tr-t-def: 0.25s;
$tr-m-def: ease;
$tr-op-def: opacity $tr-t-def $tr-m-def;
$tr-c-def: color $tr-t-def $tr-m-def, background-color $tr-t-def $tr-m-def, border-color $tr-t-def $tr-m-def, outline-color $tr-t-def $tr-m-def, border-right $tr-t-def $tr-m-def, border-top $tr-t-def $tr-m-def, border-bottom $tr-t-def $tr-m-def, border-left $tr-t-def $tr-m-def;

@mixin outline-def {
    outline: $bd-def;
    border-radius: $el-pad;
}

%spinner {
    border: $el-size solid $c-p-dark;
    border-top: $el-size solid $c-p-light;
    animation: spin 2s linear infinite;
    border-radius: 50%;
    opacity: $op-h;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}