$c-p-dark: #157A6E;
$c-p-mid: #499F68;
$c-p-light: #77B28C;
$c-s-dark: #B4654A;
$c-light: #C2C5BB;
$c-dark: #151613;

$el-size: 1em;
$el-dbl: $el-size * 2;
$el-padding: calc($el-size / 2);

$f-s: 12px;
$f-m: 16px;
$f-l: 24px;